@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

body {
    background-image: url(hip.png);
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;;
}

.nav {
    width: 100%;
    height: 50px;
    background-image: url(hip.png);
    position: fixed;
    top: 0;
    left: 0;
}

.image {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 30px;
}

.btn {
    padding: 5px 10px;
    margin: 10px 10px;
    border: none;
    background: transparent;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background: rgb(197, 218, 250);
}

.container {
    max-width: 750px;
    margin: auto;
    height: 1000px;
}

.text h1 {
    text-align: center;
}

.text p {
    margin: 30px 100px;
    text-align: justify;
    text-indent: 20px;
}

.one {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.one:nth-child(odd) {
    background: rgb(197, 218, 250);
    box-shadow: 2px 2px 20px 0px rgb(139, 131, 131);
}

.one:nth-child(even) {
    background: rgb(201, 241, 238);
    box-shadow: 2px 2px 20px 0px rgb(139, 131, 131);
}

.one h2 {
    line-height: 100px;
    margin: 0 80px;
    padding: 0;
}

.one p {
    
    margin-left: 80px;
    color: #86898f;
    font-style: italic;
    width: 50%;   
}

.one a {
    text-decoration: none;
    color: #0f141e;
}

.one a:hover {
    text-decoration: underline;
    padding: 5px 5px;
}

.one a:visited {
    color: grey;
}