@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url(food.png);
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
}

h1, p {
    text-align: center;
}

p {
    font-style: italic;
    color: rgb(94, 94, 94);
    margin-bottom: 30px;
}


.flag {
    margin: auto;
    position: relative;
    background: #ffffff;
    height: 400px;
    width: 600px;
    border: 1px solid #000;
}

.circle {
    position: absolute;
    left: 180px;
    top: 80px;
    background: #ff0000;
    height: 240px;
    width: 240px;
    border-radius: 50%;
}