body {
    background: #dfdede;
}

.list-group {
    background: transparent;
    list-style: none;
    padding: 0;
    width: 400px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
}

.list-group-item a {
    display: block;
    color: #000;
    text-decoration: none;
}

.list-group-item:nth-child(1),
.list-group-item:nth-child(2) {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.list-group-item a:hover {
    color: #fff;
}

.list-group-item:nth-child(1):hover {
    background: #0d6efd;
    border-radius: 5px 5px 0 0;
}

.list-group-item:nth-child(3):hover {
    background: #0d6efd;
    border-radius: 0 0 5px 5px;
}

.list-group-item:hover {
    background: #0d6efd;
}



/* .list-group-item:nth-child(2):hover {
    background: #0d6efd;
} */